@import url(/css/nullstyle.css);
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");
@font-face {
    font-family: "Open Sans";
    src: url(/fonts/OpenSansCondensed-Light.ttf);
}
body {
    font-family: "PT Sans";
    padding: 0 10px;
    min-width: 1400px;
}
body.lock {
    overflow: hidden;
}
header {
    display: flex;
    justify-content: center;
    background: #dcdcdc;
    height: 230px;
    padding: 65px 0 0 0;
}

#header-logo {
    display: flex;
    position: absolute;
}
.contact {
    display: flex;
    font-family: "Open Sans";
    font-size: 40px;
    line-height: 46px;
    text-align: left;
    position: relative;
    margin: 2px 0px 0 724px;
    min-width: 306px;
    color: #767676;
    letter-spacing: 0.025em;
}
.conctact-number {
    position: absolute;
}
.popup-link {
    position: absolute;
    margin: 90px 0px 0px -210px;
    width: 171px;
    height: 22px;
    color: #767676;
    font-size: 24px;
    font-weight: 700;
    line-height: 46px;
    text-align: right;
    letter-spacing: 0.6px;
    text-decoration: underline dashed;
}
menu {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 23px 20px;
    height: 80px;
    background: #777777;
    letter-spacing: 0.75px;
    z-index: 1001;
}

.menu-links li {
    display: inline;
    color: #ffffff;
    font-size: 30px;
    white-space: nowrap;
}
.menu-links li:hover {
    border-bottom: 3px solid #fff;
    line-height: 1;
    line-width: 1px;
}
.bortik {
    padding: 0px 19px;
    margin: 0 0 13px 0;
    color: #ffffff;
    font-size: 30px;
}
main {
    position: relative;
    flex: 1 1 auto;
}

.content {
    display: flex;
    justify-content: center;
}

.left {
}
.price {
    position: absolute;
    margin: 390px 790px 0px 0px;
}

.price-logo {
}
.price-img {
    margin: 0 0px 0px 28px;
}
.price-text {
    display: flex;
    color: #444444;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.75px;
    margin: 3px 0 -170px 0;
    font-size: 30px;
}

.left {
    position: relative;
}
.menu {
    position: absolute;
    width: 178px;
    margin: 26px 822px 0 20px;
}
.menu a {
    text-decoration: none;
}
.menu li {
    list-style: none;
}
.menu-list {
    display: flex;
    flex-direction: column;
    max-width: content;
    position: relative;
}
.menu-list:hover {
}
.menu-list > li:hover {
    text-decoration: underline;
}
.menu-list > li:hover .sub-menu__list {
    display: block;
    color: black;
}
.menu-list > li {
    color: #8f8f8f;
    font-size: 18px;
    text-align: left;
    line-height: 30px;
    letter-spacing: 0.45px;
    text-decoration: none;
}
.menu-link {
    color: #8f8f8f;
}
.sub-menu__list {
    display: none;
    left: 0;
    top: 0;
    color: #8f8f8f;
    padding: 0 0 0 20px;
    font-size: 14px;
    letter-spacing: 0.35px;
}
.sub-menu__list li {
    list-style: disc;
    color: #787878;
    text-decoration: none;
}
.sub-menu-link {
    color: #8f8f8f;
    letter-spacing: 0.45px;
    line-height: 30px;
    text-decoration: none;
}
.breadcrumbs {
    display: flex;
    width: 350px;
    position: absolute;
    margin: 0 0 0 20px;
}
.breadcrumbs-main {
    color: #767676;
    text-decoration: underline;
}
.breadcrumbs-catalog {
    color: #767676;
    text-decoration: underline;
}
.breadcrumbs-byt {
}
.bortik1 {
    display: flex;
    padding: 0 13px;
    font-size: 14px;
    color: #767676;
}
.catalog {
    display: flex;
    position: absolute;
    margin: 50px 0px 0px 210px;
    /* margin: 0 auto; */
    max-height: 780px;
}
.catalog-items {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
.catalog-items1 {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 0 0 0 15px;
}
.catalog-items2 {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 0 0 0 15px;
}
.catalog-items3 {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 0 0 0 15px;
}
.catalog-items4 {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 20px 0 0 15px;
}
.catalog-items5 {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 20px 0 0 15px;
}
.catalog-img1 {
    margin: 20px 0 0 20px;
}
.catalog-img2 {
    margin: 20px 0 0 20px;
}
.catalog-img3 {
    margin: 20px 0 0 20px;
}

.catalog-img4 {
    margin: 20px 0 0 20px;
}
.catalog-img5 {
    margin: 20px 0 0 20px;
}
.catalog li {
    width: 250px;
    height: 380px;
    background: #dcdcdc;
    margin: 0 0 0 15px;
    position: relative;
}
.catalog-description {
    display: flex;
    width: 188px;
    height: 35px;
    color: #767676;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.45px;
    margin: 20px 0 0 21px;
    position: relative;
}
.catalog-basket {
    display: flex;
    margin: 57px 0 0 186px;
}
.catalog-price {
    display: flex;
    width: 103px;
    height: 26px;
    color: #444444;
    font-size: 28px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    letter-spacing: 0.7px;
    margin: 57px 0 0 18px;
    position: absolute;
}
.line {
    width: 780px;
    display: flex;
    position: absolute;
    justify-content: end;
}
.content-foot {
    display: inline-flex;
    justify-content: center;
    border-top: 1px solid #696969;
    padding: 20px 0 0px 0;
    margin: 941px 0px 0 257px;
    width: 770px;
    position: relative;
}
.foot-text-left {
    width: 371px;
    height: 168px;
    color: #767676;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.35px;
    position: absolute;
    margin: 0 396px 0 0px;
}
.foot-text-right {
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    width: 341px;
    margin: 0px 0px 0 420px;
    height: 212px;
    color: #767676;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.35px;
}
.pages-link {
    display: block;

    margin: 860px 0 0px 10px;
    position: absolute;
}
.pages-number {
    display: flex;
    justify-content: end;
    width: 174px;
    color: #767676;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 22px;
    margin: 0 0px 0 330px;
}
.pages-number li {
}
.pages-number li:hover {
    cursor: pointer;
    color: #444444;
    letter-spacing: 28.17px;
    font-size: 18px;
}
footer {
    display: flex;
    justify-content: center;
    height: 220px;
    margin-top: 202px;
    background-color: #777777;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 240px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.35px;
    margin: 50px 0 0 210px;
}
.footer-email {
    color: #ffffff;
    line-height: 22px;
    text-align: left;
    letter-spacing: 0.35px;
}
.footer-list {
    display: flex;
    width: 119px;
    height: 117px;
    margin: 50px 0 0 130px;
}
.footer-list li {
    color: #ffffff;
    font-size: 14px;
    line-height: 26px;
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0.35px;
}
.footer-logo {
    display: inline;
    margin: 50px 0px 0 285px;
}
.footer-text {
    display: inline-block;
    line-height: 22px;
    width: 170px;
    color: #ffffff;
    font-size: 14px;
    margin: 0 150px 0 0;
}
.footer-link {
    letter-spacing: 0.35px;
    text-decoration: underline;
    color: #ffffff;
}

/* оболонка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдів */
.slick-track {
    display: flex;
    text-align: center;
}

/* Стрелка */
.slick-arrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.slider {
    /* max-width: 1500px; */
    position: relative;
    margin: -60px 40px 30px 0;
    overflow-y: hidden;
}
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 1001;
    font-size: 0;
    width: 34px;
    height: 61px;
}
.slider .slick-arrow.slick-prev {
    left: 20%;
    background: url("/img/slider_button.png") 0 0/100% no-repeat;
}
.slider .slick-arrow.slick-next {
    right: 20%;
    background: url("/img/slider_button_right.png") 0 0/100% no-repeat;
}
.slider__item {
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup.open {
    opacity: 1;
    visibility: visible;
    z-index: 1005;
}
.popup-body {
    display: flex;
    min-height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 0.8s ease 0s;
}
.popup-content {
}

.feedback-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 578px;
    background-color: #ffffff;
}
.form-name {
    color: #535353;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    padding: 35px 145px 5px 135px;
}
.form-items {
    display: block;
}
.formlabel {
    display: flex;
    align-items: center;
    color: #535353;
    font-size: 14px;
    text-align: left;
    margin: 22px 0 0 140px;
}
.form__input {
    width: 339px;
    height: 40px;
    border: 1px solid #c3c3c3;
    background-color: #ffffff;
    margin-top: 10px;
}
textarea.form__input {
    display: inline-block;
    min-width: 339px;
    min-height: 140px;
    resize: vertical;
}
#email {
}

.form-button {
    display: block;
    margin: 13px 0 0px 0px;
    width: 128px;
    height: 42px;
    font-weight: 700;
    background-color: #777777;
    color: #ffffff;
    text-transform: uppercase;
}
.close-popup {
}
